In [ ]:
dict_value = {
    'name': 'int',
    'age': 'str'
}

keys = list(dict_value.keys())
keys

In [93]:
import sqlite3

In [130]:
class DataBase:
    def __init__(self, dbPath: str):
        self.conn = sqlite3.connect(dbPath)
    
    
    def createTable(self, NameTable: str, Values: list):
        # Values = ['field1 type1', 'field2 type2', ]
        self.NameTable = NameTable
        cursor = self.conn.cursor()
        
        TypeField = ', '.join(Values)
        script = f"CREATE TABLE {self.NameTable} ({TypeField})"
        cursor.execute(script)
        self.conn.commit()
    
    
    def insert(self, IdUser: int):
        cursor = self.conn.cursor()

        script = f"INSERT INTO {self.NameTable} (id) VALUES ({IdUser})"
        cursor.execute(script)
        self.conn.commit()
    
    
    def update(self, IdUser: int, Values: dict):
		# Values = {field1: value1, field2: value2}
        cursor = self.conn.cursor()
        
        for field, value in Values.items:
            if type(value) is str:
                script = f"UPDATE {self.NameTable} SET {field} = '{value}' WHERE relevance = 'Y'"
            else:
                script = f"UPDATE {self.NameTable} SET {field} = {value} WHERE relevance = 'Y'"
            cursor.execute(script)
            self.conn.commit()
    
    
    def selectRelevance(self, ColumnsName: list):
 		# ColumnsName = [field1, field1, ]
        cursor = self.conn.cursor()
        
        columns = ', '.join(ColumnsName)
        script = f"SELECT {columns} FROM {self.NameTable} WHERE relevance = 'Y'"
        cursor.execute(script)
        self.conn.commit()
        return cursor.fetchall()
    
    
    def select(self, ColumnsName: list):
 		# ColumnsName = [field1, field1, ]
        cursor = self.conn.cursor()
        
        columns = ', '.join(ColumnsName)
        script = f"SELECT {columns} FROM {self.NameTable}"
        cursor.execute(script)
        self.conn.commit()
        
        self.results = cursor.fetchall()
        return self.results
    
    
    def __del__(self):
        self.conn.close()

In [132]:
# Если программу запускаете впервые
DB = DataBase('test.db')
column_name = [
    'id integer',
    'name text'
]
DB.createTable('InfoOnUsers', column_name)
stroka = DB.select(['*'])
stroka

[]

In [135]:
DB.insert(2)

In [136]:
stroka = DB.select(['*'])
stroka

[(1, None), (2, None)]

In [113]:
colu

NameError: name 'text' is not defined

In [131]:
import sqlite3

# Создаем соединение с нашей базой данных
# В нашем примере у нас это просто файл базы
conn = sqlite3.connect('test.db')

# Создаем курсор - это специальный объект который делает запросы и получает их результаты
cursor = conn.cursor()

# cursor.execute("CREATE TABLE Info (name text, age integer, surname text, id integer)")
# conn.commit()

# cursor.execute("INSERT INTO Info (id, name, surname, age) VALUES (2, 'Sergey', 'Alexin', 21)")
# conn.commit()

# cursor.execute("INSERT INTO Info (id) VALUES (3)")
# conn.commit()

# cursor.execute("UPDATE Info SET surname = 'Sysoev' WHERE id = 1")
# conn.commit()

# cursor.execute("SELECT * FROM Info WHERE id = 3")
# conn.commit()

cursor.execute("DROP TABLE InfoOnUsers")
conn.commit()

# Получаем результат сделанного запроса
# results = cursor.fetchall()
# print(results)

# Не забываем закрыть соединение с базой данных
conn.close()

In [98]:
results

[('Kirill', None, None, 3),
 ('Kirill', None, None, 3),
 ('Kirill', None, None, 3),
 ('Kirill', None, None, 3),
 (None, None, None, 3)]

In [54]:
a = ['name int', 'surname str']
', '.join(a)

'name int, surname str'

In [34]:
a

{'name': 'dsd', 'Surname': None}

In [50]:
b = "12"
if type(b) is str:
    stro = f"Hello '{b}'"
else:
    stro = f"Hello {b}"
stro

"Hello '12'"